document a *should* for the location header

From https://github.com/aep-dev/aep-openapi-linter/issues/11, @mkistler has called out that we should include a location header in the HTTP request, to adhere to RFC 9110:

> Other possible rules:
>
> There must be a 201 response (possibly covered by aep-133-response-schema)
> The 201 response has a location response header ([RFC 9110 Section 15.3.2](https://www.rfc-editor.org/rfc/rfc9110.html#section-15.3.2))


We should add that. Also a follow-up question: should we be doing more to hotlinking to the RFCs we've adopted and attempt to adhere to in the spec?