AEP-122 Clarity and example needed

There are some points on AEP-122 that maybe need clarification or revision, and some good examples would go a long way to helping teams adopt it.

## Guidance section (https://aep.dev/122/#guidance)

> Resource paths should only use characters available in DNS names, as defined by [RFC-1123](https://tools.ietf.org/html/rfc1123).

Is there some rationale for this? Is there in some cases a DNS representation of resource paths? If so, is there also length limitations that need to be added (RFC1035 section 2.3.4)?

> Additionally, resource IDs should not use upper-case letters.

This inherits the same rules as characters in DNS names?

> Each resource must expose a path field that contains its resource path.

Is this referring to the `patterns` section of the `x-aep-resource` or is it referring to the actual resource response field? Some examples would really help here. If it is intended to be part of the response body, that might be good to call out in AEP-140.

## Resource ID aliases

Do these have any representation in OpenAPI or are they just left as an implementation detail on the server and treated as normal IDs?

## Full resource paths

> In most cases, resource paths are used within a single API only, or else they are used in contexts where the owning API is clear (for example, string pubsub_topic).

This example does not seem clear to me?

## Fields represnting resource paths

> When defining a resource, the first field should be the resource path, which must be of type string and must be called path for the resource path. The message should include a google.api.resource annotation declaring the type (see [AEP-4](https://aep.dev/004.md) for more on this).

AEP-4 link is 404. This might need to be updated to not reference the google resource but the new AEP resource? I think this section could be more clear and likely needs examples for what these look like in OpenAPI / Protobuf. For people that are new to AEP I think we need to be more clear about which things are fields in the request/response body, and which are fields in the `x-aep-resource`

## Further reading

- AEP-180 link is a 404
- AEP-4 is not linked


Thanks for the feedback! I'll work on a PR to follow up on some of these issues. Some I think warrant further discussion, see below.

> This inherits the same rules as characters in DNS names?

Correct. I think this is clear from the guidance as-is? resource IDs are a component of within resource path. 

> Is this referring to the patterns section of the x-aep-resource or is it referring to the actual resource response field? Some examples would really help here. If it is intended to be part of the response body, that might be good to call out in AEP-140.

The short answer is the actual resource response. 

More detailed thoughts: I'm not sure I understand why one would see the term "path field" and assume that it refers to "pattern", which is a completely different name and is used consistently throughout the rest of the documentation. I think examples are always helpful so I agree with adding them, but I'm not sure I would agree with additional clarity for the sake of disambiguating two terms that are already different.

If there is another example that ambiguates the usage of the terms, however, we should definitely fix those!

> Do these have any representation in OpenAPI or are they just left as an implementation detail on the server and treated as normal IDs?

They have no representation in OpenAPI. Is there a use case to describe them? aliases are not always static as well, so I'm not sure a static description of the API would be sufficient for all use cases.

> This example does not seem clear to me?

Could you clarify? I'm not sure what's unclear.

> AEP-4 link is 404

The 404 is a known issue unfortunately: https://github.com/aep-dev/aeps/issues/300. But we can definitely just add a patch for those specific broken links.

> For people that are new to AEP I think we need to be more clear about which things are fields in the request/response body, and which are fields in the x-aep-resource

We could add interface definitions into 122, similar to the standard methods: https://aep.dev/133/#interface-definitions. That said I'm not sure, based on the wording, why one would assume that things like the `path` field would belong in an annotation - it states "resource", not "message description" (proto language) or "schema" (oas language). 
